---
permalink: /404.html
lang: en
---
<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<html>

<head>
  <title>404 Not found - Jamulus{{ page.title }}</title>
  {% include headtags.html %}
</head>

<body>
  <header class="fx-row fx-row-between-xs fx-text-center">
    <div class="fx-col fx-text-center">
        <img alt="{{ site.data.general.nav.altJamulusIcon }}" width="40" height="40" src="{{ 'assets/img/jamulus-icon-2020.svg'| relative_url }}" />
    </div>
    <div class="fx-col-center-xs fx-txt-right hide-on-dt" id="navbtn" onclick="showNav()">
      <svg role="img" width="20" height="20" aria-labelledby="ntitle">
        <title id="ntitle">{{ site.data.general.nav.btnOpenNavigation }}</title>
        <g>
          <rect fill="currentcolor" id="r1" width="100%" height="3" x="0" y="0" />
          <rect fill="currentcolor" id="r2" width="100%" height="3" x="0" y="8" />
          <rect fill="currentcolor" id="r3" width="100%" height="3" x="0" y="16" />
        </g>
      </svg>
    </div>
  </header>
  <main class="fx-row-center-xs">
    <div class="fx-col-center-xs fx-txt-center">
      <h1>404. There's nothing here</h1>
      <p>Maybe this site was moved or deleted. Did you check if there was a typo?</p>
      <p><a href="#" onclick="history.go(-1);return false;">Try going back.</a></p>
    </div>
  </main>
  {% include footer.html %}
</body>

</html>
