---
title: "Jamulus Startseite"
lang: "de"
permalink: /
---
<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<html lang="{{ site.active_lang }}" dir="ltr">

<head>
  <title>Jamulus Software ‒ Musiziere online. Mit deinen Freunden. Kostenlos.</title>
  {% include headtags.html %}
  <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "SoftwareApplication",
      "name": "Jamulus",
      "applicationCategory": "Music",
      "operatingSystem": "Windows, macOS, Linux",
      "slogan": "Musiziere online. Mit deinen Freunden. Kostenlos.",
      "discussionUrl": "https://sourceforge.net/p/llcon/discussion/",
      "license": "GPL",
      "creator": "Volker Fischer und Mitwirkende"
    }
  </script>
  <meta name="description" content="Jamulus ist eine Open Source Software, die es Musikern erlaubt in Echtzeit über das Internet zu musizieren.">
</head>

<body class="mainsite">
  <header class="fx-row fx-row-center-xs">
    <div class="fx-col-100-xs">
      <img itemprop="logo" alt="Jamulus Icon" src="assets/img/jamulus-icon-2020.svg" id="jamulusicon" />
      <h1>Jamulus</h1>
      <span>Musiziere online. Mit deinen Freunden. Kostenlos.</span>
    </div>
    <div class="fx-col-100-xs" id="actionbutton">
      <div class="fx-row">
        <div class="fx-col-100-xs">
          <a href="wiki/Getting-Started" target="_blank" id="get_started_btn_top" itemprop="url" rel="noreferrer">Jetzt Starten!</a>
        </div>
        <div class="fx-col-100-xs" id="dl_frm_sf_container">
          Erweitert: <a href="https://sourceforge.net/projects/llcon/files/latest/download" itemprop="url" target="_blank" id="dld_frm_sf" rel="noreferrer">sofort herunterladen</a> </div>
      </div>
    </div>
  </header>
  <div>
    <div class="fx-row fx-row-center-xs">
      <div class="fx-col-100-xs fx-col-50-l">
        {% include langselect.html %}
      </div>
    </div>
    <main>
      <div class="fx-row fx-row-center-xs" id="firstrow">
        <div class="fx-col-100-xs fx-col-50-l">
          <div itemprop="abstract">
            <h2>Was ist Jamulus?</h2>
            Jamulus wurde zum Online musizieren, Üben oder einfach zum Jammen mit deinen Freunden, deiner Band oder einfach jedem, den Du online findest entwickelt. Nutze deinen Windows-, macOS- oder Linux PC um über eine normale Breitbandverbindung
            kostenlos dich mit einem Jamulus Server (von denen es Weltweit hunderte gibt) zu verbinden. Oder hoste einfach deinen eigenen Server.
            Jamulus wird für eine hohe Klangqualität mit niedriger Latenz entwickelt, sodass Du auch aus der Ferne mit Anderen gleichzeitig zusammenspielen kannst. Schau dir an, wie <a href="wiki/Demos"
              target="_blank" rel="noreferrer">andere Menschen das tun</a>!
          </div>
        </div>
      </div>
      <div class="fx-row fx-row-center-xs" id="bannercontainer">
        <div class="fx-col-100-xs fx-col-50-l">
          <a href="/wiki/Getting-Started" target="_blank" rel="noreferrer">
            <img alt="Jamulus Banner. Link zur Schnellstartseite" src="assets/img/jamulusbannersmall.jpg" id="jamulusbanner" loading="lazy" />
          </a>
        </div>
      </div>
      <div class="fx-row fx-row-center-xs">
        <div class="fx-col-100-xs fx-col-50-m fx-col-25-l">

          <h2>Brauchst Du Hilfe?</h2>
          <p>
            Wirf einen Blick in das <a href="/wiki" target="_blank" rel="noreferrer">Wiki</a>. Vielleicht wird dein Problem auf der <a href="wiki/Client-Troubleshooting"
              target="_blank" rel="noreferrer">Fehlerbehebungsseite</a> beschrieben!
            Du kannst auch im <a href="https://sourceforge.net/p/llcon/discussion/" target="_blank" rel="noreferrer">Jamulus SourceForge Forum (English)</a> nach Hilfe fragen.
          </p>
        </div>
        <div class="fx-col-100-xs fx-col-50-m fx-col-25-l">
          <h2>Jamulus ist Open Source</h2>
          <p>
            Ideen? Hast Du einen Fehler gefunden? Willst du mithelfen? Da Jamulus open source ist, kannst Du uns helfen! Das Projekt ist auf <a href="https://sourceforge.net/projects/llcon/" target="_blank" rel="noreferrer">SourceForge</a> und der <a
              href="https://github.com/corrados/jamulus" target="_blank" rel="noreferrer">Quellcode auf GitHub</a>!
            Jamulus steht unter der (<a href="http://www.gnu.org/licenses/gpl-2.0.html" target="_blank" rel="noreferrer">GPL,
              GNU General Public License</a>).
          </p>
        </div>
        <div class="fx-col-100-xs fx-txt-center">
          <a href="wiki/Getting-Started" class="button" itemprop="url" rel="noreferrer">Jetzt Starten!</a>
        </div>
      </div>
    </main>
  </div>
  {% include footer.html %}
</body>

</html>
