---
---
<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<html lang="{{ site.lang }}" dir="ltr">

<head>
  <title>Jamulus Software ‒ Play music online. With friends. For free.</title>
  {% include headtags.html %}
  <link rel="stylesheet" href="assets/css/home.css">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "SoftwareApplication",
      "name": "Jamulus",
      "applicationCategory": "Music",
      "operatingSystem": "Windows, macOS, Linux",
      "slogan":"Play music online. With friends. For free.",
      "discussionUrl": "https://sourceforge.net/p/llcon/discussion/",
      "license": "GPL",
      "creator": "Volker Fischer and contributors"
    }
  </script>
  <meta name="description" content="Jamulus is an open source software which enables musicians to perform real-time jam sessions over the internet.">
</head>

<body class="mainsite">
  <header class="fx-row fx-row-center-xs">
    <div class="fx-col-100-xs">
      <img itemprop="logo" alt="Jamulus Icon" src="assets/img/jamulus-icon-2020.svg" id="jamulusicon" />
      <h1>{% tf index/appname.html %}</h1>
      <span>{% tf index/appslogan.html %}</span>
    </div>
    <div class="fx-col-100-xs" id="actionbutton">
      <div class="fx-row">
        <div class="fx-col-100-xs">
          <a href="wiki/gettingstarted.html" target="_blank" id="get_started_btn_top" itemprop="url" rel="noreferrer">{% tf index/getstartednow.html %}</a>
        </div>
        <div class="fx-col-100-xs" id="dl_frm_sf_container">
          {% tf index/downloadnow.html %}
        </div>
      </div>
    </div>
  </header>
  {% include langselect.html %}
  <main>
    <div class="fx-row fx-row-center-xs" id="firstrow">
      <div class="fx-col-100-xs fx-col-50-l">
        <div itemprop="abstract">
          {% tf index/abstract.html %}
        </div>
      </div>
    </div>
    <div class="fx-row fx-row-center-xs" id="bannercontainer">
      <div class="fx-col-100-xs fx-col-50-l">
        <a href="https://github.com/corrados/jamulus/wiki/Getting-Started" target="_blank" rel="noreferrer">
          <img alt="Jamulus Banner. Links to getting started page" src="assets/img/jamulusbannersmall.jpg" id="jamulusbanner" loading="lazy" />
        </a>
      </div>
    </div>
    <div class="fx-row fx-row-center-xs">
      <div class="fx-col-100-xs fx-col-50-m fx-col-25-l">
        {% tf index/help.html %}
      </div>
      <div class="fx-col-100-xs fx-col-50-m fx-col-25-l">
        {% tf index/opensource.html %}
      </div>
      <div class="fx-col-100-xs fx-txt-center">
        <a href="https://github.com/corrados/jamulus/wiki/Getting-Started" id="get_started_btn_bottom" itemprop="url" rel="noreferrer">{% tf index/getstartednow.html %}</a>
      </div>
    </div>
  </main>
  {% include footer.html %}
</body>

</html>
