h1, h2, h3, h4, h5, h6 {
  color: #1181a4;
}

a {
  color: #1181a4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #49a9c9;
  color: #ffffff;
  margin-bottom: 2em;
  padding: 1em 0 1em 0;
}

#langselect, #wikinav {
  color: #1181a4;
}

#langselect ul, #wikinav ul {
  padding: 0;
}

#langselect ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

#langselect .selected, #wikinav .selected {
  font-weight: bold;
  text-decoration: underline;
}

#footer {
  background-color: #1181a4;
  color: #ffffff;
  text-align: center;
  margin-top: 2em;
  padding-bottom: 1em;
}

#footer a {
  display: block;
  color: #ffffff;
}

#footer a>img {
  display: block;
  transition: 0.4s;
  opacity: 1;
}

#footer a>img:hover {
  transition: 0.4s;
  opacity: 0.8;
}

body>div {
  margin: 1em 0 0 0;
  padding: 0;
}

#footer img {
  height: 2em;
  color: #ffffff;
}

#copyright {
  margin-top: 15px !important;
}

#copyright a {
  display: inline;
}

.fx-row {
  margin-left: 0;
  margin-right: 0;
}

#sflogo {
  background-color: #ffffff;
  padding: 0.2em;
  border-radius: 4px;
}
