.wikisite header img {
  width: 40px;
}

.wikisite .title {
  font-size: 2em;
}

.wikisite #license {
  font-style: italic;
}

.wikisite code {
  background-color: #d3d3d3;
  border-radius: 2px;
}

.wikisite main>div {
  padding-top: 0;
  margin-top: 0;
}

.wikisite #wikinav ul li {
  list-style-type: none;
}

.wikisite h1 {
  margin-top: 0;
}
