<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<html>

<head>
  <title>{{ page.title }}</title>
  {% include headtags.html %}
  <link rel="stylesheet" href="assets/css/wiki.css">
</head>

<body class="wikisite">
  <header class="fx-row fx-row-center-xs fx-text-center">
    <div class="fx-col-100-xs fx-text-center fx-col-center-xs"><a href="/"><img itemprop="logo" alt="Jamulus Icon" src="assets/img/jamulus-icon-2020.svg" /></a></div>
  </header>
  <div id="langselect" class="fx-row fx-row-center-xs">
    <ul class="fx-col-100-xs fx-col-50-l">
      {% for lng in site.languages %}
        {% if lng == site.lang %}
          <li class="selected">{{ lng }}</li>
        {% else %}
          {% if lng == site.default_lang %}
            {% capture langlink %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
          {% else %}
            {% capture langlink %}{{ site.baseurl_root }}/{{ lng }}{{ page.url }}{% endcapture %}
          {% endif %}
          <li><a href="{{ langlink }}">{{ lng }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <main class="fx-row fx-row-center-xs">
    <div class="fx-col-100-xs fx-col-50-l">{{ content }}</div>
  </main>
  {% include footer.html %}
</body>

</html>
