<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<html>

<head>
  <title>{{ page.title }}</title>
  {% include headtags.html %}
  <link rel="stylesheet" href="assets/css/wiki.css">
</head>

<body class="wikisite">
  <header class="fx-row fx-row-center-xs fx-text-center">
    <div class="fx-col-100-xs fx-text-center fx-col-center-xs"><a href="/"><img itemprop="logo" alt="Jamulus Icon" src="assets/img/jamulus-icon-2020.svg" /></a></div>
  </header>
  {% include langselect.html %}
  <main class="fx-row fx-row-center-xs">
    <div class="fx-col-100-xs fx-col-50-l">{{ content }}</div>
  </main>
  {% include footer.html %}
</body>

</html>
