<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<html>

<head>
  <title>{{ page.title }}</title>
  {% include headtags.html %}
  <link rel="stylesheet" href="{{ '/assets/css/wiki.css' | prepend: site.baseurl_root }}">
</head>

<body class="wikisite">
  <header class="fx-row fx-row-center-xs fx-text-center">
    <div class="fx-col-100-xs fx-text-center fx-col-center-xs"><a href="/wiki"><img itemprop="logo" alt="Jamulus Icon" src="{{ '/assets/img/jamulus-icon-2020.svg' | prepend: site.baseurl_root }}" /></a></div>
  </header>
  <div class="fx-row fx-row-center-xs">
    <div class="fx-col-100-xs fx-col-50-l">
      <main>{{ content }}</main>
      <div id="license">{% tf wiki/license.html %}</div>
    </div>
    {% include wiki/nav.html %}
  </div>
  {% include footer.html %}
</body>

</html>
